
.section-prominent {
  position: relative;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url('../img/mixed-fruits.jpg');
  background-size: 100%;
}

.section-prominent .container {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-prominent h1 {
  color: white;
  font-size: 5rem;
}

.section-prominent p {
  color: #ccc;
  font-size: 2.4rem;
}

.full-darken {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .5;
}

.section-content {
  padding-top: 4rem
}

.content-row {
  margin-bottom: 2rem;
}

.ingredient-item {
  position: relative;
  list-style: none;
  width: 100px;
  height: 50px;
  padding-top: 35px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 20px;
}

.ingredient-item:before {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin-left: -15px;
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px solid black;
}

.ingredient-item.is-selected:before {
  border-color: green;
}
