
.section-prominent {
  margin-top: 4rem;
  background-color: #6f5499;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-prominent h1 {
  color: white;
  font-size: 5rem;
}

.section-prominent p {
  color: #cdbfe3;
  font-size: 2.4rem;
}

.section-content {
  padding-top: 4rem
}

.content-row {
  margin-bottom: 2rem;
}

.ingredient-item {
  position: relative;
  list-style: none;
  width: 100px;
  height: 50px;
  padding-top: 35px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 20px;
}

.ingredient-item:before {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin-left: -15px;
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px solid black;
}

.ingredient-item.is-selected:before {
  border-color: green;
}
